.lsb_section__header {
	max-width: 768px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: @line-height-computed*2;
}

.lsb_section__title {
	text-transform: uppercase;
	font-size: @font-size-h4;
	margin: 0;

	span {
		text-transform: none;
		font-weight: normal;
		.text-muted;
	}
}
