.lsb_voice {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  
  padding: 0.5em;

  background: @navbar-default-bg;
  border-top: 1px solid @navbar-default-border;
  border-left: 1px solid @navbar-default-border;
  border-top-left-radius: @border-radius-base;
}

.lsb_voice__title {
  display: inline;
  .small;
  font-weight: normal;
}