.dropdown-toggle:focus:not(:hover) {
	background: transparent !important;
	text-decoration: none !important;
}

.dropdown-menu > li > a {
	&:focus,
	&:hover {
		text-decoration: underline;
	}

	&.active {
		color: inherit;
		background-color: inherit;
	}
}
