{% block content %}
	<section class="lsb-entry-list">
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	</section>
{% endblock %}

<footer class="lsb-main-footer">
{% block pagination %}
	{% if pagination %}
		{% include 'pagination.twig' with {'prev': pagination.prev, 'next': pagination.next } %}
	{% endif %}
{% endblock %}
</footer>
