<article class="lsb_entry is-archive">
	{% if not hide_title %}
	<div class="lsb_entry__header">
		<h1 class="lsb_entry__title">{{ title }}</h1>
	</div>
	{% endif %}

	{% if description %}
		<div class="lsb_entry__body">
			<div class="is-content">
				{{ description }}
			</div>
			<div class="lsb_tabs">
				<div class="lsb_tabs__nav">
					<div class="lsb_tabs__nav-item" data-id="so">سۆرانی / Kurdisk (sorani)</div>
					<div class="lsb_tabs__nav-item" data-id="ur">اردو / Urdu</div>
					<div class="lsb_tabs__nav-item" data-id="sr">Soomaali / Somali</div>
					<div class="lsb_tabs__nav-item" data-id="tr">Türkçe / Tyrkisk</div>
					<div class="lsb_tabs__nav-item" data-id="ti">ትግርኛ / Tigrinja </div>
					<div class="lsb_tabs__nav-item" data-id="en">English / Engelsk </div>
				</div>

				<div class="lsb_tabs__tab" data-id="sr">
					<div class="is-content">
						<h2 class="is-title">Manhajka maadada</h2>
						<p>
						Boggagaan netka waxaad ka helaysaa manhajka maadada 50 ka saacadood ee barashada cilmiga bulshada dadka waaweyn ee haajiriinta ah.
						</p>
						<p>
						Halkaan waxaad ka helaysa aaqoon muhiim ah oo ku saabsan wadanka Noorway, sida xauuqdaada, fursadahaaga, iyo waajibaadka ku saaran ee bulshada aad ku dhexnooshahey ee Noorway.
						</p>
					</div>
				</div>
				<div class="lsb_tabs__tab" data-id="ur">
					<div class="is-content is-rtl is-signs">
						<h2 class="is-title">اس نظام کی بنیاداعتماد پر ہے</h2>
						<p>
							حْکّام شہریوں کے درست معلومات دینے اور قوانین پر عمل کرنے کا اعتبار کرتے ہیں۔ سارا نارویجن نظام اسی اصول پر قائم ہے۔ اگر چہ نگرانی کرنے کے طریقے بھی ہیں ا کثر محض آزمائشی جانچ پڑتال ہی کی جاتی ہے۔ جو لوگ نظام کے ساتھ دھوکہ دہی کرتے ہوئے پکڑے جائیں انہیں مختلف سزاؤں کا سامنا کرنا پڑتا ہے۔ اسکی صورت ، جْرمانہ، جیل کی سزا یا سماجی
						</p>
					</div>
				</div>
				<div class="lsb_tabs__tab" data-id="so">
					<div class="is-content is-rtl is-signs">
						<h2 class="is-title">خوێندن دەبینی</h2>
						<p>
						لەم لاپەڕانە دا دەرسنامەی 50 کاتژمێرە خوێندن دەبینی کە لە چوارچێوەی خولی راهێنانی کۆمەڵایەتی دا ئامادە کراوە بۆ کەسانی گەورەساڵ. لەم خولە دا زانیاریی گرنگ دەدرێ بە تۆ سەبارەت بە وڵاتی نەرویژ، مافەکانی تۆ، دەرفەتەکان و ئەرکەکانی تۆ لە نێو کۆمەڵگای نەرویژ.
						</p>
						<p>
						ەرپرسان متمانەیان هەیە کە هەموو دانیشتوان زانیاریی ڕاست پێشکەش دەکەن و پابەندی یاسا دەبن. سیستمی کۆمەڵگای نەرویژ لەسەر ئەم بنەما دامەزراوە. هەرچەند هەندێ سیستمی چاودێریکردن دانراوە، زۆرجار پشکنینی ‌هەڕەمەش دەکرێت. ئەگەر پێبزانرێت کە کەسێک لەگەڵ سیستمی حکوومەت فێل دەکات بە شێوازی جۆراوجۆر سزا دەدرێت، لە سزای نەختی و بەندکردنەوە بگرە هەتا کاری کۆمەڵایەتی بێ‌مووچە و هەنگاوە یاساییەکانی
						</p>
					</div>
				</div>
				<div class="lsb_tabs__tab" data-id="ti">
					<div class="is-content is-signs">
						<h2 class="is-title">እቲ ሲስተም ብእምነት ዝተመስረተ ኣዩ።</h2>
						<p>
							ዋላ’ኳ ተቈጻጻሪ ሲስተም እንተሃለወ፡ ሓሊፉ ሓሊፉ ጥራይ እዩ ዚቈጻጸር። እቶም ተቐማጦ ቅኑዕ ሓበሬታ ከም ዚህቡን ነቲ ዝተወሰነ ሕግጋትውን ከምዘተግብርዎን እቲ መንግስቲ ይኣምኖም እዩ። እቲ ኹሉ ሲስተም በዚ መትከል ዝተመስረተ እዩ። ነዚ ሲስተም ከታልል ዝተረኽበ ሰብ’ውን ዝተፈላለየ መቕጻዕቲ ይረክብ። እዚ ከኣ ብገንዘብ ፡ ብማእሰርት ብኣገልግሎት ሕብረተሰብን ይቕጻዕ። .
						</p>
						<p>
							ኣብዘን ገጻት እዚአን መደብ ትምህርቲ ኣፍልጦ ሕብረተሰብ ንዓበይቲ ወጻእተኛታት ክትፈልጥ ኢኻ። ኣብዚ ኣገዳሲ ዝዀነ ፍልጠት ብዛዕባ ኖርወይን ብዛዕባ መሰላትካን ዕድላትካን ግዴታትካን ኣብ ኖርወይ ሕብረተሰብ ክትፈልጥ ኢኻ።
						</p>
					</div>
				</div>
				<div class="lsb_tabs__tab" data-id="tr">
					<div class="is-content">
						<h2 class="is-title">Bu sistem güvene dayanır.</h2>
						<p>
							Makamlar yöre sakinlerinin doğru bilgi vererek yasaya uyduklarına güvenirler. Tüm Norveç sistemi bu prensip üzerine kurulmuştur. Kontrol sistemleri olsa bile, sadece rastgele örnek alınarak kontrol yapılır. Sistemi kötüye kulanıp yakalanan kişiler farklı ceza tepkileriyle karşılaşırlar. Bu cezalar para cezası, hapis cezası ve toplum hizmetinde çalışma cezası v.b. olabilir.
						</p>
						<p>
							Bu sayfalarda yetişkin göçmenler için hazırlanan 50 saatlik ‘samfunnskunnskap’ – Norveç toplum bilgisi dersinde okunacak konuları bulacaksınız. Bu sayfalar, Norveç’e, hak ve yükümlülüklerinize dair önemli bilgiler içermektedir.
						</p>
					</div>
				</div>
				<div class="lsb_tabs__tab" data-id="en">
					<div class="is-content">
						<h2 class="is-title">Syllabus</h2>
						<p>
							On these pages you will find the syllabus for the course 50 hours of social studies for adult immigrants. Here you will receive important information about Norway and about your rights, opportunities and obligations in the Norwegian society.
						</p>
						<p>
							The authorities trust that all inhabitants provide correct information and follow the law. The entire Norwegian system is built on this principle. Although monitoring systems are in place, spot checks are also often carried out.
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% for section in post.sections %}
		{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
	{% endfor %}

	{% if sections %}
		{% for section in sections %}
			{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
		{% endfor %}
	{% else %}
		<section class="lsb_section">
			<div class="lsb_section__body">
			{% if 'lsb_book' == post_type %}
				<div class="lsb_card-wrapper">
				{% for post in posts %}
					{% include ['card'~post.post_type~'.twig', 'card.twig'] %}
				{% endfor %}
				</div>
			{% else %}
				{% for post in posts %}
					{% include ['teaser-'~post.post_type~'.twig', 'teaser.twig'] %}
				{% endfor %}
			{% endif %}
			</div>
		</section>
	{% endif %}

</article>
