<section class="lsb-entry-section lsb-section-{{ section.acf_fc_layout }}">
	{% block section_header %}
		<h2>{{ section.lsb_title }} <small>{{ section.lsb_subtitle }}</small></h2>
	{% endblock %}

	{% block section_content %}
		Her kommer det innhold
	{% endblock %}

</section>
