{% extends "tease.twig" %}

{% block entry_content %}
	<p>{{ post.lsb_intro }}</p>
{% endblock %}

{% block entry_footer %}
	<a class="lsb-entry-read-more" href="{{ post.link }}" aria-hidden="true" tabindex="-1">
		{{ __('Gå til leseopplegg', 'lsb') }}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	</a>
{% endblock %}
